<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DCP_Ripper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <DCP_Ripper.Properties.Settings>
            <setting name="ffmpegLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="format" serializeAs="String">
                <value>x265_444</value>
            </setting>
            <setting name="crf" serializeAs="String">
                <value>crf23</value>
            </setting>
            <setting name="matchCRF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="crf3d" serializeAs="String">
                <value>crf18_3d</value>
            </setting>
            <setting name="audio" serializeAs="String">
                <value>libopus</value>
            </setting>
            <setting name="downscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastOpenFolder" serializeAs="String">
                <value />
            </setting>
        </DCP_Ripper.Properties.Settings>
    </userSettings>
</configuration>
